@import "../../../../assets/styles/extends";


.room_item {
  list-style: none;
  background-color: #FFF;
  border-radius: 10px;

  .container {
    @extend %base-flex;
    border-radius: 10px;
    width: 300px;
  }
}