@import 'src/assets/styles/extends';

.container {
    @extend %base-flex;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 0.8em;
    background-color: lawngreen;
    cursor: pointer;

    .info {
        @extend %base-flex;
        flex-direction: column;
    }

    .btn {
        cursor: pointer;
    }
}